.container{
    display:flex;
    .nav-left{
        background-color: red;
        height: calc(100vh);
        min-width: calc(100%-40px);
    }
    .main{
        background-color: yellow;
        flex:1;
        height: calc(100vh);
    }
    .content{
        background-color: blue;
        position: relative;
        padding: 20px;
    }
}